*{
    margin: 0;
    padding: 0;
}

@import './variables/extend';
@import './variables/mixins';

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr .5fr;
    grid-template-areas:
        "header header header"
        "main main aside"
        "main main aside"
        "footer footer footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.aside {
    grid-area: aside;
}

.footer {
    grid-area: footer;
}

@import './secciones/index';
@import './secciones/header';
@import './secciones/footer';
@import './secciones/aside';

/* ANIMACIONES */
@keyframes rotacion{
    0%{
        transform: rotate(0deg);
        transition: .5s;
    }
    25%{
        transform: rotate(90deg);
        transition: .5s;
    }
    50%{
        transform: rotate(180deg);
        transition: .5s;
    }
    75%{
        transform: rotate(270deg);
        transition: .5s;
    }
    100%{
        transform: rotate(360deg);
        transition: .5s;
    }
}

/* RESPONSIVE DESING - MEDIA QUERY - MOBILE LAST */
@media (max-width:425px) {
    .grilla {
        display: grid;
        grid-template-columns: 1fr 1fr .5fr;
        grid-template-areas:
            "header header header"
            "main main main"
            "main main main"
            "footer footer footer";
    }
    .aside{
        display: none;
    }
}