aside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: rgb(59, 58, 58);
    border: solid 3px black;
    color: white;
}