header{
    display: flex;
    background-color: rgb(59, 58, 58);
    min-height: 15vh;
    border: solid 3px black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, white, black);
    div{
        img{
            width: 100px;
            animation-name: rotacion;
            animation-duration: .5s;
            animation-iteration-count: infinite;
        }
    }
    nav{
        ul{
            display: flex;
            color: black;
            margin-top: 20px;
            li{
                list-style: none;
                border: solid 2px black;
                background-color: rgba(14, 9, 6, 0.267);
                padding: 15px;
                &:hover{
                    background-color: black;
                    transition: .5s;
                }
                a{
                    color: white;
                    text-transform: capitalize;
                    text-decoration: none;
                    &:hover{
                        color: rgb(221, 108, 3);
                        font-family: "Comic Sans MS";
                        transition: .5s;
                    }
                }
            }
        }
    }
}