section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 388px;
    background-image: url(../img/dtnS8CoN.jpg_medium);
    div{
        img{
            max-width: 300px;    max-width: 300px;
        }
        p{
            background-color: rgba(0, 0, 0, 0.308);
            color: white;
            max-width: 300px;
            text-align: center;
        }
    }
}